
#navbar h2 {
    color: #4caf7d;
}

#home_page h1 {
    width: 100%;
    font-size: 6em;
    text-align: center;
    font-family: sans-serif;
    color: #4caf7d;
}

@media (max-width: 768px) {
    #home_page h1 {
        font-size: 3em; /* 根据需要调整这个值 */
    }
}

#home_page h3 {
    width: 100%;
    text-align: center;
}
#big_btn_wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 5em 1em;
}
#home_page .big_btn a {
    padding: 2em;
    background-color: #4caf7d;
    font-size: 1.3em;
    border-radius: 10px;
    transition: 0.4s;
    display: flex;
    color: white;
}
#home_page .big_btn a:hover {
    box-shadow: 6px 4px 20px #0000002e;
}
.dark #home_page .big_btn a {
    background-color: #1b5638;
    color: #d2f9e5;
}
.dark #home_page .big_btn a:hover {
    box-shadow: 6px 4px 20px #000000;
    background-color: #2a7d53;
}

@media screen and (max-width: 900px) {
    
}

/* 视频容器样式 */
.bilibili-video-container {
    position: relative; /* 相对定位 */
    width: 50%; /* 宽度为屏幕宽度的一半 */
    padding-top: 28.125%; /* 16:9 宽高比的 padding-top，56.25% / 2 */
    margin: 0 auto; /* 水平居中 */
    }

    /* 移动端样式 */
    @media (max-width: 768px) {
    .bilibili-video-container {
        width: 100%; /* 移动端占满屏幕宽度 */
        padding-top: 56.25%; /* 移动端也使用 16:9 宽高比 */
    }
    }

    /* 视频样式 */
    .bilibili-video {
    position: absolute; /* 绝对定位 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

    /* 禁止自动播放 */
    .bilibili-video[src*="autoplay=1"] {
    display: none;
    }